#contact-landscape{
    display: flex;
    flex-flow: column;
    align-items: center;
    #contact-page-email {
        font-size: 1.5vw
    }
    * {
        padding: 5px;
    }
}

#contact-portrait{
    display: flex;
    flex-flow: column;
    align-items: center;
    #contact-page-email {
        font-size: 5vw
    }
    * {
        padding: 5px;
    }
}