#footer{
    align-self:flex-end;
    display: flex;
    flex-flow: column;
    // margin: auto;
    align-items: center;
    *{
        padding: 5px;
    }
    #ig-contact-svg-wrapper {
        height: 2rem;
    }
    #ig-svg {
        height: 100%;
        width: 100%;
    }
}