#footer{
    align-self:flex-end;
    display: flex;
    flex-flow: column;
    // margin: auto;
    align-items: center;
    *{
        padding: 5px;
    }
    #ig-svg {
        max-height: 3rem;
    }
}