#footer{
    align-self:flex-end;
    display: flex;
    flex-flow: column;  
    align-items: center;
    z-index: 1;
    *{
        padding: 5px;
    }
    #ig-svg {
        height: 3rem;
        width: auto;
    }
}