#navBar-links {
    color:#52a376;
    a {
        color:#52a376;
    }
    a:visited {
        color:#52a376;
    }
    .underline-me{
        text-decoration-line: underline;
    }
    .dont-underline-me{
        text-decoration-line: none;
    }
}

@media (orientation:portrait){
    #navBar-landscape{
        display: none;
    }
    #navBar-portrait{
        grid-area: nav;
        z-index: 1000;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        padding-top: 0.5rem;
        width: auto;
        #navBar-links{
            display: flex;
            justify-content: space-between;
            margin: 0px 5px
        }
        div {
            margin: .5rem 0rem;
            font-size: 1.25rem;
        }

    }

}

@media (orientation:landscape){
    #navBar-portrait{
        display: none;
    }
    #navBar-landscape{
        grid-area: nav;
        z-index: 1000;
        display: flex;
        justify-content:space-between;
        padding-top:0.5rem;
        #navBar-links{
            display: flex;
            justify-content: space-between;
            width: 30%;
            margin: 0px 5px
        }
    }
}


@media screen and (min-width: 0px) and (max-width:1499px) and (orientation: landscape){
    #navBar-landscape p {
        font-size: calc((2 - 1) * 1vw + .5rem);
        margin: 0px 5px;
    }
    #navBar-links a{
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1500px) and (max-width: 2119px) and (orientation: landscape){
    #navBar-landscape p {
        font-size: calc((2 - 1) * 1vw + .5rem);
        margin: 0px 5px;
    }
    #navBar-links a{
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 2120px) and (orientation: landscape){
    #navBar-landscape p {
        font-size: calc((2 - 1) * 1vw + 1rem);
        margin: 0px 5px;
    }
    #navBar-links a{
        font-size: 1vw;
    }
}